.skill-container
  background-color: unset
  border: none
  margin-bottom: 10rem

.skill-split
  position: relative
  display: flex
  justify-content: center
  align-items: center
  gap: 5rem
  @media (max-width: 640px)
    display: block
    justify-items: center

  .divider
    position: absolute
    inset: 3rem 0 0 11rem
    margin: auto
    width: 2px
    height: 150px
    background: rgba(255,255,255,0.2)
    @media (max-width: 640px)
      display: none

h3
  font-size: 1.5rem
  margin:
    bottom: 1rem

  @media (max-width: 640px)
    padding: 0 1rem
    text-align: center
