.contact-container
  display: flex
  justify-content: space-evenly
  align-items: center
  @media (max-width: 768px)
    padding: 1rem
    flex-direction: column
.personal-info
  .info-card
    background-color: unset
    border: none
    box-shadow: 0px 0px 2px 0px #ffffff
    padding: 1rem
    transition: transform ease-in-out .3s
    &:hover
      transform: translateY(-5px)

    p
      font-size: medium
      @media (max-width: 1024px)
        font-size: small

.personal-info-cards
  animation: fade-in .5s forwards
  animation-delay: var(--delay)
  width: 100%
  transition: ease-in
  > *
    margin: 1rem 0

@keyframes fade-in
  0%
    transform: translateX(50px)
    opacity: 0
  100%
    transform: translateX(0)
    opacity: 1

.contact-form
  animation: fade-in .5s forwards
  animation-delay: var(--delay)
  transition: ease-in

@keyframes fade-in
  0%
    transform: translateX(50px)
    opacity: 0
  100%
    transform: translateX(0)
    opacity: 1
