.project-list
  width: 70%
  margin: 20rem auto
  @media (max-width: 768px)
    margin: 10rem auto
  @media (max-width: 1024px)
    width: 90%
  h1
    font-size: 2rem
    padding: 0 1rem
    @media (max-width: 1024px)
      font-size: 1.5rem

.project-wrapper
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 2rem
  padding: 1rem
  @media (max-width: 1024px)
    grid-template-columns: repeat(2, 1fr)
    width: 100%

  @media (max-width: 640px)
    grid-template-columns: 1fr
    width: 100%

  h3
    font-weight: bold
    @media (max-width: 1024px)
      font-size: 1rem
  p
    font-weight: 400
    @media (max-width: 1024px)
      font-size: .8rem

.project-img
  padding: unset
  border-radius: 10px
  height: 200px

.is-visible
  animation: isVisible .8s forwards
  transition: ease-in
  animation-delay: var(--delay)

@keyframes isVisible
  0%
    transform: translateY(50px)
    opacity: 0
  100%
    transform: translateY(0px)
    opacity: 1
