.navbar 
  display: flex
  align-items: center
  backdrop-filter: 50px
  color: #fff
  padding: 2rem 1rem

.navbar-center
  display: flex
  justify-self: center
  width: 100%
  justify-content: center


.navbar-center .nav-links
  display: flex
  gap: 2rem

  li a
    padding: .5em
    backdrop-filter: 0
    border-radius: 10px
    transition: all ease .3s

.navbar-center .nav-links li a:hover
  background-color: grey
  backdrop-filter: 10px